<h2 class="text-lg font-bold text-white"><%= @title %></h2>
<div class="camera_container" phx-hook="Webcam">
  <p class="text-xl font-bold text-center text-white" id="loading">Loading Webcam...</p>
  <div class="max-w-full mx-auto" id="camera"></div>
  <button class="items-center w-32 h-12 m-4 text-center text-white bg-green-500 rounded-lg shadow-md mx-flex" id="snap">
    <span class="mx-auto">Register Plant</span>
  </button>
</div>
